<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache= "http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
           http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd" 
           default-autowire="byName">
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:const.properties</value>
			</list>
		</property>
	</bean>
	<!-- 使用Annotation自动注册Bean，解决事物失效问题：在主容器中不扫描@Controller注解  -->
	<context:component-scan base-package="com.lvtu.wechat"><!-- base-package 如果多个，用“,”分隔 -->
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- 缓存配置 -->
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache-local.xml" />
	</bean>
	<!-- 缓存注解支持 -->
	<cache:annotation-driven cache-manager="ehcacheCacheManager"/>
	<bean id="ehcacheCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
		<property name="cacheManager" ref="cacheManager"/>
	</bean>
	
	<!-- 配置 JSR303 Bean Validator 定义 -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
	
	<!-- 验证码 -->
    <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">  
        <property name="config">  
            <bean class="com.google.code.kaptcha.util.Config">  
                <constructor-arg>  
                    <props>  
                        <prop key="kaptcha.border">no</prop>  
                        <prop key="kaptcha.border.color">105,179,90</prop>  
                        <prop key="kaptcha.textproducer.font.color">255,0,102</prop>  
                        <prop key="kaptcha.image.width">80</prop>  
                        <prop key="kaptcha.noise.color">255,0,102</prop>   
                        <prop key="kaptcha.image.height">25</prop>  
                        <prop key="kaptcha.session.key">code</prop>  
                        <prop key="kaptcha.textproducer.char.length">4</prop> 
                        <prop key="kaptcha.textproducer.font.names">Arial,Courier</prop>
                        <prop key="kaptcha.textproducer.char.string">0123456789</prop>
                        <prop key="kaptcha.textproducer.font.size">23</prop> 
                        <prop key="kaptcha.background.clear.from">white</prop>
                        <prop key="kaptcha.background.clear.to">white</prop>
                        <prop key="kaptcha.noise.impl">com.lvtu.wechat.front.utils.LVNoise</prop>
                        <prop key="kaptcha.word.impl">com.lvtu.wechat.front.utils.LVWordRenderer</prop>
                        <prop key="kaptcha.obscurificator.impl">com.lvtu.wechat.front.utils.KaptchaGimpy</prop>
                    </props>  
                </constructor-arg>  
            </bean>  
        </property>  
    </bean>
	
	<import resource="applicationContext-wechat-remote-service-beans.xml"/>
	<import resource="applicationContext-lvmama-comm-remote-public-dubbo.xml"/>
	<import resource="applicationContext-api-remote-service-beans.xml"/>
	<import resource="applicationContext-clutter-remote.xml"/>
	<import resource="applicationContext-quartz.xml"/>
	<import resource="applicationContext-redis-beans.xml"/>
</beans>